body {
    color: #1e1e1e;
}

.banner {
    height: 120px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto auto;
    font-weight: bold;
}

.title {
    font: 6em "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
}

.subtitle {
    margin-top: 50px;
    font: 2em "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    text-align: center;
}

.contacts {
    height: 100px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto auto 0;
    text-align: center;
    font: 1em "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.contact {
    font: 0.9em "Trebuchet MS", Verdana, Geneva, Arial, Helvetica, sans-serif;
    margin-top: 10px;
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
}

.contact div {
    margin-top: 3px;
}
